Package: com.candoizo.onion
Name: onion
Depends: mobilesubstrate, firmware (>= 10.0)
Architecture: iphoneos-arm
Description: Peel a layer off the control center!
Maintainer: candoizo
Author: candoizo
Section: Tweaks
Version: 0.0.3-52+debug
Installed-Size: 136
